<!-- Modal d'edition d'utilisateur -->
<div class="modal fade" id="user-edit-modal" tabindex="-1" aria-labelledby="user-edit-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-edit-modal-label">Editer l'utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="user-edit-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button value="" id="user-edit-button" type="submit" class="btn btn-success">Modifier</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de supression d'utilisateur -->
<div class="modal fade" id="user-delete-modal" tabindex="-1" aria-labelledby="user-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-delete-modal-label">Supprimer l'utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Cette action aura pour effet de supprimer l'utilisateur ainsi que toutes ses commandes.</p>
            </div>
            <div class="modal-footer">
                <button id="user-delete-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button value="" id="user-delete-button" type="button" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>