{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-2"></div>
        <main class="col-sm-8">
            <div class="row">
                <div class="col-sm-12 p-5">
                    <form method="post">
                        <h1 class="m-b-5 text-center"><img style="vertical-align: inherit;" src="/images/logo-site.png" width="75px">Récupération de compte</h1>
                        <hr>

                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}

                        <div class="form-group">
                            <label for="inputEmail">Nouveau mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required autofocus>
                        </div>

                        <div class="form-group pb-3">
                            <label for="inputEmail">Confirmer le mot de passe</label>
                            <input type="password" name="confirmPassword" id="inputConfirmPassword" class="form-control" required autofocus>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="btn btn-lg btn-primary" type="submit">Activer</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
