<div class="card">
    <div class="card-header">
        <h3 class="mt-2">Liste des produits</h3>
    </div>
    <div class="card-body">
        <button id="refresh-produit-list" class="btn btn-success mt-2 mb-3" type="button">Rafraichir la liste</button>
    </div>
</div>