<div class="card">
    <div class="card-header">
        <h3 class="mt-2">Liste des produits</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="produit-list" class="table table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col"><i class="fas fa-align-left"></i><span class="ml-1">Nom</span></th>
                        <th scope="col"><i class="fas fa-dollar-sign"></i><span class="ml-1">Prix</span></th>
                        <th scope="col"><i class="far fa-images"></i></i><span class="ml-1">Image</span></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="text-truncate"></tbody>
            </table>
        </div>
    </div>
</div>