<div class="card">
    <div class="card-header">
        <h3 class="mt-2">Liste des produits</h3>
    </div>
    <div class="card-body">
        <div class="d-flex mb-3">
            <button id="refresh-produit-list" class="btn btn-success mr-auto" type="button">Rafraichir la liste</button>
            <div><input type="search" id="produit-list-search" class="form-control" placeholder="Rechercher"/></div>
        </div>
    </div>
</div>