{% for produit in produits %}
    <tr id="produit-{{ produit.id() }}">
        <td>{{ produit.nom() }}</td>
        <td>{{ produit.prix() }}</td>
        <!--td>
            <img style="background-color: whitesmoke; padding: 20px;" align="middle" class="rounded-lg" src="{{ produit.image() }}">
        </td-->
        <td>
            <ul class="list-inline-item m-0">
                <li class="list-inline-item">
                    <button class="btn btn-success btn-sm rounded-0" type="button" name="edit-produit" data-original-title="Edit">
                        <i class="far fa-edit"></i>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-danger btn-sm rounded-0" type="button" name="delete-produit" data-original-title="Delete">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </li>
            </ul>
        </td>
    </tr>
{% endfor %}