<div id="loading" class="row">
    <div class="col-sm-12">
        <img class="img-fluid mx-auto d-block" src="{{ asset('images/loading/geeps_logo.png') }}" alt="Responsive image">
        <div class="d-flex justify-content-center">
            <i class="fas fa-spinner fa-pulse fa-3x"></i>
        </div>
    </div>
</div>