<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Point K</a>
    <span class="navbar-text">
        <span>Solde : 10</span>
        <span>deconnexion</span>
    </span>
</nav>