{% set nbpages = (nbusers // limit) + (nbusers % limit > 0) %}
{% if nbpages == 0 %}
    {% set nbpages = 1 %}
{% endif %}

<ul class="pagination">
    {% if page <= 1 %}
        <li class="page-item disabled"><button type="button" value="previous" class="page-link">Précédant</button></li>
    {% else %}
        <li class="page-item"><button type="button" value="previous" class="page-link">Précédant</button></li>
    {% endif %}

    {% for i in page-1..page+1 %}
        {% if i >= 1 and i <= nbpages %}
            {% if i == page %}
                <li class="page-item active"><button type="button" value="{{ i }}" class="page-link">{{ i }}</button></li>
            {% else %}
                <li class="page-item"><button type="button" value="{{ i }}" class="page-link">{{ i }}</button></li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if page >= nbpages %}
        <li class="page-item disabled"><button type="button" value="after" class="page-link">Suivant</button></li>
    {% else %}
        <li class="page-item"><button type="button" value="after" class="page-link">Suivant</button></li>
    {% endif %}
</ul>