# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\quent\Documents\LPPRISM-programmation_internet_et_systemes_mobiles\Projet\projet_symfony\pointk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
