{% block title %}{{ nom }} vous avez demandé une réinitialisation de mot de passe.{% endblock %}

{% block body %}
    <pre>Le lien vers le changement de mot de passe :</pre>
    <pre><a href="{{ url_recover }}">Réinitialiser le mot de passe</a></pre>
{% endblock %}